@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cal Sans", sans-serif;
}

body {
  background-color: rgb(8, 16, 25);
  color: white;
}